.admin-title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#editar,
#eliminar {
    align-items: center;
    text-align: center;
    background-color: #4b0082; /* Morado oscuro */
    color: #e9c4f4; /* Lila */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 40px;


}

#formAdmin {
    width: 100%;
    max-width: 1000px;
    margin: 15px 0;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 15px; */
}

#AgregarProd, #EditarProd {
    width: 100%;
}

@media screen and (min-width: 768px) {
    /* breakpoint para tablet */

    #formAdmin {
        /* flex-direction: row;
        justify-content: space-between; */
        grid-template-columns: 1fr 1fr ;
        gap: 15px;

    }

    /* #AgregarProd, #EditarProd {
        width: 48%;
    } */
    

}

@media (max-width: 768px) {
    .admin-title {
        flex-direction: column;
        padding: 10px;
    }

    #editar,
    #eliminar {
        width: 80%;        
        height: auto;     
        font-size: 14px;  
        padding: 12px;    
        margin: 5px auto;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
