.admin-title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#editar,
#eliminar {
    align-items: center;
    text-align: center;
    background-color: #4b0082; /* Morado oscuro */
    color: #e9c4f4; /* Lila */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 40px;


}

@media (max-width: 768px) {
    .admin-title {
        flex-direction: column;
        padding: 10px;
    }

    #editar,
    #eliminar {
        width: 80%;        
        height: auto;     
        font-size: 14px;  
        padding: 12px;    
        margin: 5px auto;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
