#carrito-items {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background: #f9f9f9;
}

.item img {
  width: 80px; 
  height: auto;
  border-radius: 5px; 
}

.item div {
  margin-left: 15px; 
}

.item h2 {
  font-size: 18px;
  margin: 5px 0;
}

.item h3 {
  font-size: 14px;
  color: #555;
}

.item p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
@media (max-width: 768px) {
    #carrito-items {
        gap: 10px; 
        padding: 0 10px;
    }

    .item {
        flex-direction: column; 
        align-items: flex-start;
    }

    .item img {
        width: 100%;         
        max-width: 300px;     
        height: auto;
        margin-bottom: 10px;  
    }

    .item div {
        margin-left: 0;       
    }

    .item h2 {
        font-size: 16px;
    }

    .item h3 {
        font-size: 13px;
    }

    .item p {
        font-size: 15px;
    }
}
