#galeria .item img {
  margin-top: 20px;
  width: 50%;
  height: 280px;
  object-fit: cover;
  border-radius: 60px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  outline: none;
}

#galeria h3 {
  margin: 0px 0 0;
  font-style: italic;
  color: #4b0082; 
}

#galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  padding: 10px;
  text-align: center;
}

#galeria .item img:focus {
  transform: scale(1.2);
  z-index: 10;
}

#contadorCompra{

  width: 66px;

}
#galeria div button{
  height: 48px;
  width: 90px;
  border-radius: 12px;
  border: 2px solid #4b0082;      /* borde violeta */
  background-color: #fff;         /* fondo blanco */
  color: #4b0082;                 /* texto violeta */
  font-weight: bold;
  font-size: 0.65em;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#galeria div input {
  height: 35px;
  width: 20px;
  border-radius: 12px;
  border: 2px solid #4b0082;      /* borde violeta */
  background-color: #fff;         /* fondo blanco */
  color: #4b0082;                 /* texto violeta */
  font-weight: bold;
  font-size: 1.6em;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#galeria div button:active,
#galeria div input:active {
  background-color: #e1bee7;      /* violeta claro al presionar */
  color: #4b0082;
  border-color: #7c3aed;
}

.acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.acciones button,
.acciones input {
  height: 48px;
  border-radius: 12px;
  border: 2px solid #4b0082;
  background-color: #fff;
  color: #4b0082;
  font-weight: bold;
  font-size: 5px; /* más pequeña */
  box-sizing: border-box;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  margin-top: 6px;
}

.acciones button:active,
.acciones input:active {
  background-color: #e1bee7;
  color: #4b0082;
  border-color: #7c3aed;
}

#galeria .item .acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.acciones .agregar-carrito {
  font-size: 0.95em;
}

.acciones button {
  margin:0px;
}

@media (max-width: 768px) {
    #galeria {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 15px;
    }

    #galeria .item img {
        width: 100%;            
        height: auto;           
        border-radius: 10px;    
        margin-top: 10px;      
    }

    #galeria h3 {
        font-size: 16px;       
    }

    #contadorCompra {
        width: 50px;           
    }
}
